 <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="center aligned column">
          <h1 class="ui huge">Hello Angular</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Angular"</h3>
          <p>
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="ui avatar image">
            <b>Angular</b> One framework. Mobile & desktop.
          </p>
          <div class="ui labeled button" tabindex="0">
            <div class="ui red button">
              <i class="heart icon"></i> Like
            </div>
            <a class="ui basic red left pointing label">
              28,805
            </a>
          </div>
          <div class="ui labeled button" tabindex="0">
            <div class="ui basic blue button">
              <i class="fork icon"></i> Forks
            </div>
            <a class="ui basic left pointing blue label">
             7,204
            </a>
          </div><br><br>
          <a href="https://angular.io/guide/quickstart" class="ui secondary basic button">Documentation</a>
        </div>
        <div class="column">
          <h3>"Semantic UI."</h3>
          <p>
            <img src="https://semantic-ui.com/images/logo.png" class="ui avatar image">
            <b>Semantic</b> User Interface is the language of the web Get Started
          </p>
          <div class="ui labeled button" tabindex="0">
            <div class="ui red button">
              <i class="heart icon"></i> Like
            </div>
            <a class="ui basic red left pointing label">
              37,656
            </a>
          </div>
          <div class="ui labeled button" tabindex="0">
            <div class="ui basic blue button">
              <i class="fork icon"></i> Forks
            </div>
            <a class="ui basic left pointing blue label">
              4,086
            </a>
          </div><br><br>
          <a href="https://semantic-ui.com/introduction/getting-started.html" class="ui secondary basic button">Documentation</a>

        </div>
      </div>
    </div>
  </div>